@{
    var logedIn = User.Identity.IsAuthenticated;
    var Dapartment = "Dapartment";
}
@if (logedIn)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Identity" asp-action="SignOut">Sign Out</a>
    </li>
    <li class="nav-item">
        <lable class="nav-link text-dark">
            Hello @User.Identity.Name
          <a style="color: red">@User.Claims.FirstOrDefault(x => x.Type == Dapartment)?.Value</a>
        </lable>
    </li>
    @ViewBag.logedIn
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Identity" asp-action="SignUp">Sign Up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Identity" asp-action="Signin">Sign In</a>
    </li>
}